.modal_editor{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    animation: fadeIn 0.2s both;
}

.modal_editor-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 630px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding-top: 26px;
    padding-bottom: 45px;
    animation: slideFromTop 0.3s both;
}

#modal_close{
    display: flex;
    height: 24px;
}

#modal_title{
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    line-height: 100%;
    font-weight: 400;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 46px;
}

.add_works {
  width: 237px;
  height: 36px;
  background-color: #1D6154;
  color: white;
  border: none;
  border-radius: 60px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.modal_close button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.js-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.js-modal-close img {
  width: 24px;
  height: 24px;
}

.modal_editor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_editor[aria-hidden="true"] {
    animation: fadeOut 0.2s both;
}

.modal_editor[aria-hidden="true"] .modal_editor-container {
    animation: slideToBottom 0.3s both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}